/* IMAGEN FONDO */

body { 

    background-image: url("IMAGENES/fondo2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;


}


.genero{

    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
}


.nombreGenero{
	
	text-align: center;
	font-family: Gill sans;
    font-size: 20px;
    color: #0D2C54;
    height: 75px;
    text-align: center;
    background-color: white;
    border-bottom: solid #00A6ED;
    -ms-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imgGenero{
    
    display: flex;
    flex-direction: ltr ;
    justify-content: center;

}










@media screen and (min-width: 1100px) {
    
    .genero{

        margin-left: 12%;
        margin-right: 12%;
    } 


    .generoJuego1, .generoJuego2, .generoJuego3{

        width: 50vh;
        height:300px;
    }
}


@media only screen and (min-width: 700px) and (max-width: 1100px){
    
     .genero{

        margin-left: 12%;
        margin-right: 12%;
    } 

    .generoJuego1,.generoJuego2{

        width: 60vh;
        height:325px;
    }

    .generoJuego3{
        
        display: none;
    }
}


@media only screen and (max-width: 700px){

    .generoJuego1{

        width: 100%;
        height:350px;
    }

    .generoJuego3, .generoJuego2{

        display: none;

    }
}










