/* IMAGEN FONDO */

body { 

  background-image: url("IMAGENES/precio1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
}


#juegoBus{
	
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}


#caratula{

	width: 300px;
	height: 300px;
}

p{

	 text-align: center;
     font-family: Gill sans;
    font-size: 25px;
}


#juegos{
    
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-between;

  font-family: Gill sans;
  font-size: 20px;
  color: #0D2C54;
  

  margin-top: 25px;
}

#precio{

 width: 200px;

background-color: white;


text-align: center;

}

#juego1{

  text-align: center;
  height:200px;
}




input[type = "radio"]{ display:none;}

label:hover{color:#F6511D;}


.clasificacion{

  text-align: center;
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
  }


label:hover ~ label{color:#F6511D;}

input[type = "radio"]:checked ~ label{color:#F6511D;}


#descripcionJuego{

  margin-top: 25px;
}





@media screen and (min-width: 1100px) {
  

#juegos{

  margin-left: 12%;
  margin-right: 12%;
}

}


@media only screen and (min-width: 700px) and (max-width: 1100px){
  

  #juegos{

  margin-left: 12%;
  margin-right: 12%;
}

}