/* IMAGEN FONDO */

body { 

	background-image: url("IMAGENES/lucha.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
}


/* LOGOTIPO */

#imgPerfil{

	display: flex;
	flex-wrap: ltr;
	justify-content: center;
  }

#fotoPerfil{

	height: 200px;
	width: 225px;
	margin-top: 25px;
	margin-bottom: 25px;

}

#nick{

	display: flex;
  justify-content: center;

      font-family: Gill sans;
    font-size: 25px;
    color: #0D2C54;
}



/* PRECIOS JUEGOS */

#juegos{
    
    display: flex;
     padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-between;

    margin-top: 25px;
    margin-bottom: 25px;
}

.juego{

  margin-top: 25px;
  width: 200px;
  height: 200px;
}



@media screen and (min-width: 1100px) {
  

#juegos{

  margin-left: 12%;
  margin-right: 12%;
}

}


@media only screen and (min-width: 700px) and (max-width: 1100px){
  

  #juegos{

  margin-left: 12%;
  margin-right: 12%;
}

}
